<head>
    <% include ./partials/head %>
  </head>
  <form method="post" action="/edit/<%= todo._id %>">
    <div>
      <label>Date</label>
      <input type="text" name="date" value="<%= todo.date %>">
    </div>
    <div>
      <label>Blood Pressure</label>
      <input type="text" name="bp" value="<%= todo.bp %>">
    </div>
    <div>
      <label>Weight</label>
      <input type="text" name="weight" value="<%= todo.weight %>">
    </div>
    <div>
      <label>Pulse Rate</label>
      <input type="text" name="pulse" value="<%= todo.pulse %>">
    </div>
    <div>
      <label>Comments</label>
      <textarea name="comment"><%= todo.comment %></textarea>
    </div>
    <button type="submit">Submit</button>
    <a href="/">cancel</a>
  </form>
      
      <footer>
        <% include ./partials/footer %>
      </footer>